# Build directories
/build/
/cmake-build-debug/
/cmake-build-release/

# IDE files
*.user
*.user.*
*.vcxproj*
*.code-workspace

# Compiled binaries
*.exe
*.dll
*.obj
*.pdb

# CMake cache files
CMakeCache.txt
CMakeFiles/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt

fiveLetterWords/words.txt
